---
const { titulo, tipo, descripcion, imagen } = Astro.props;
---

<div class="container mb-4">
    <div class="row">
        {(tipo === "1")
        ? 
            <div class="col-6 animate__animated animate__backInLeft">
                <div class="cotainer">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                        <h2 class="card-title">{titulo ?? "ESTO ES UN TITULO"}</h2>
                        <p class="card-text"> {descripcion} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 animate__animated animate__backInRight"> 
                <img src={imagen} width="300" height="300" class="card-img-top" alt="...">
            </div>
        : 
            <div class="col-6 animate__animated animate__backInLeft"> 
                <img src={imagen}  width="300" height="300" class="card-img-top" alt="...">
            </div>
            <div class="col-6 animate__animated animate__backInRight">
                <div class="cotainer">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                        <h2 class="card-title">{titulo ?? "ESTO ES UN TITULO"}</h2>
                        <p class="card-text"> {descripcion} </p>
                        </div>
                    </div>
                </div>
            </div>   
        
        }      
    </div>
</div>