---
import Layout from "../layouts/Layout.astro";
import General from "../components/noticias/General.astro";
---

<Layout>
    <h2>Eventos Campo Purpura</h2>
    <h5>Informacion de Noticias</h5>
    <General/>
</Layout>
