<div class="container mt-5">
    <footer class="bg-dark text-white text-center py-3" <p>&copy; 2025 Reto-1. Todos los Derechos Reservados.</p>
    </footer>
  </div>



<div class="container mt-5">
    <h1 class="aline text-center"> footer</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="Proyecto/Imagenes Campo Purpura/camp5.jpeg" height="200" width="200" class="rounded-start" alt="">
    </div>
    <div class="col-2">
      <img src="Proyecto/Imagenes Campo Purpura/camp6.jpeg" height="200" width="200" class="rounded-start" alt="">
    </div>
    <div class="col-2">
      <img src="Proyecto/Imagenes Campo Purpura/camp7.jpeg" height="200" width="200" class="rounded-start" alt="">
    </div>
    <div class="col-2">
      <img src="Proyecto/Imagenes Campo Purpura/camp8.jpeg" height="200" width="200" class="rounded-start" alt="">
    </div>
    <div class="col-2">
      <img src="Proyecto/Imagenes Campo Purpura/camp9.jpeg" height="200" width="200" class="rounded-start" alt="">
    </div>
    <div class="col-2">
      <img src="Proyecto/Imagenes Campo Purpura/camp10.jpeg" height="200" width="200" class="rounded-start" alt="">
    </div>
