---
import Imagen from './common/Image_galeria.astro'
---
<div class="container mb-5">
    <div class="container mt-5">
        <h1 class="aline text-center">HEADING</h1>
    </div>
    <div class="row">
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp1.jpeg" />
            
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp2.jpeg" />
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp3.jpeg" />
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp4.jpeg" />
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp5.jpeg" />
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp6.jpeg" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp7.jpeg" />
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp8.jpeg" />
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp9.jpeg" />
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp10.jpeg" />
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp11.jpeg" />
        </div>
        <div class="col-2 p-1">
            <Imagen src="/imgs/camp12.jpeg" />
        </div>
    </div>
</div>      
