<div class="container mb-5">
<div class="container mt-5">
    <h1 class="aline text-center">HEADING</h1>
</div>
<div class="row">
    <div class="col-2">
        <img
            src="/imgs/camp5.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp6.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp7.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp8.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp9.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp10.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
</div>
<div class="row mt-5">
    <div class="col-2">
        <img
            src="/imgs/camp11.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp12.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp13.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp14.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp15.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
    <div class="col-2">
        <img
            src="/imgs/camp16.jpeg"
            height="200"
            width="200"
            class="rounded-start"
            alt=""
        />
    </div>
</div>
</div>