<div class="container mb-3">
<div class="row">
    <div class="col-6">
      <div class="col-4">
        <h1 class="aline text-left"> TITULO</h1>
        <p class="text-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button type="button" class="btn btn-primary">Informacion</button>

      </div>


    </div>
    <div class="col-6">



      <div class="row">
        <div class="col-4 ms-3">
          <img src="/imgs/camp17.jpeg" width="200" height="100" class="rounded-start" alt="">

        </div>
        <div class="col-4 ms-5">
          <img src="/imgs/camp18.jpeg" width="200" height="100" class="rounded-start" alt="">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-4 ms-3">
          <img src="/imgs/camp19.jpeg" width="200" height="100" class="rounded-start" alt="">

        </div>
        <div class="col-4 ms-5">
          <img src="/imgs/camp20.jpeg" width="200" height="100" class="rounded-start" alt="">
        </div>
      </div>

    </div>
  </div>
</div>